
body{
    background: rgb(255, 253, 226);
    color:rgb(23, 22, 22);
    font-size: 20px;
    margin:5px;
    font-family:cursive;
    
}
.container{
    background: hsl(48, 100%, 78%);
    border-radius: 20px;
}
.navbar{
    font-size: 18px;
    border-bottom: 6px solid rgb(238, 35, 35);
    border-radius: 20px;
    margin-top:10px;
    margin-bottom: 15px;
}
.navbar:hover{
  
    border-bottom: 6px solid rgb(18, 242, 100);
}

.btn{
    background-color:rgb(255, 103, 38);
    color:white;
    width:160px;
    height:40px;
    border:3px solid rgb(221, 84, 4);
    border-radius: 10px;
    
}
.btn:hover{
    background: rgb(5, 164, 5);
    color:white;
    border: 3px solid rgb(18, 179, 4);
}
.card-title{
    font-size: 24px;
    color:rgb(33, 32, 32);
    text-decoration:2px solid rgb(33, 33, 33)   underline;
}
.card-text{
    color:rgb(6, 6, 6);
    font-size: 16px;
}
.card{
    border-radius: 30px;
    background: rgba(var(--bs-warning-rgb));
}

i{
    font-size: 20px;
    padding-right: 50px;
    padding-left: 50px;
    cursor: pointer;
    
}
.card:hover{
background: rgb(255, 140, 9);
transform:translateY(-10px);
transition:all 0.5s ease-in;
}
